<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento</title>
</head>

<body>
    {% extends 'layouts/base.html' %} 
    {% block content %}

    <h1>about this app</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius accusamus perferendis quia numquam cumque consequuntur, repellendus delectus sed ullam, ut impedit non aperiam mollitia officiis dolor exercitationem quaerat? Sunt, quidem.</p>
    <p>website created by {{username}}</p>
    {% endblock %}
</body>

</html>