<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentito</title>
</head>

<body>
    {% extends 'layouts/base.html' %} 
    {% block content %}
    <h1>{{titulo}}</h1>
    <p>Este es un curso de Django bastante complicado, ahora se está trabajando sobre un archivo html5 vinculando otros archivos de html5</p>
    {% endblock %}
</body>

</html>